#ifndef __CREDENTIALS_H__
#define __CREDENTIALS_H__

const char* ssid = "***";  //Wlan ssid setzen
const char* wifi_password = "***"; // Wlan Passwort setzen

const char* mqtt_username = "***"; //MQTT PW
const char* mqtt_password = "***"; //MQTT Username
const char* mqtt_server = "***.***.***.***";// MQTT Broker Server IP setzen

const char* fwUrlBase = "***.***.***.***";



#endif
